.error {
  color: red;
}

.break-word {
  word-break: break-all;
  min-width: 80px;
}

.container {
  width: 100%; /* This would make the container take the full width by default */
  max-width: 1200px; /* This is the max width for larger screens */
  margin: 0 auto; /* This centers the container */
}

.container.wide {
  max-width: 1400px; /* This is the max width for the 'wide' version of the container */
}

.odd {
  background-color: #f2f2f2; /* Or any light brown color you prefer */
}

body {
  font-family: "Public Sans", sans-serif;
}

.header-bar {
  background-color: #292929;
}

.container--narrow {
  max-width: 732px;
}

.bordered-table th,
.bordered-table td {
  border: 1px solid black;
  padding: 8px;
}

.scrollable-desc {
  height: 50px;
  overflow-y: auto;
}

.odd {
  background-color: #f7f7f7;
}

.scrollable-content {
  max-height: 150px;
  overflow-y: scroll;
}

.wide-dialog {
  width: 80%; /* you can adjust as per your needs */
  margin: 0 auto;
}

.kanban-board {
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  align-items: center;
}

.kanban-column {
  min-width: 250px;
  width: 17%;
  margin: 0 5px;
  border: 1px solid #ddd;
  padding: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 75%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.form-control-title {
  font-size: 2rem;
  font-weight: 500;
}

.body-content {
  font-size: 1.2rem;
  line-height: 1.75;
  color: #292929;
}

.body-content p,
.body-content ul,
.body-content ol {
  margin-bottom: 1.75rem;
}

.usergroup-checkboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.task-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-details {
  flex-grow: 1;
  margin-right: 10px;
  color: blue; /* Make the task name blue */
  cursor: pointer; /* Change cursor to pointer on hover */
  text-decoration: underline;
}

.task-buttons button {
  margin-left: 5px;
}

.task-detail-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.readonly-textarea {
  width: 95%;
  min-height: 50px;
  resize: vertical;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 5px;
  font-family: inherit;
  background-color: #f7f7f7;
  margin: 0 auto;
  display: block;
}
